@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
@import url("./fontawesome-free-5.15.2-web/css/all.min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

body {
  width: 100%;
}

header {
  width: 100%;
}

header .login-menu {
  width: 100%;
  background-color: black;
}

header .login-menu nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  gap: 2%;
  width: 100%;
}

header .login-menu nav a,
header .login-menu nav span {
  color: white;
  font-size: 2.5em;
  font-weight: 400;
}

header .header-container {
  width: 100%;
  background-color: white;
}

header .header-container .mobile-menu-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4em;
}

header .header-container .search-button-mobile {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #cc0d1f;
  font-size: 4em;
}

header .header-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 968px;
  margin: 0 auto;
}

header .header-container > div a {
  width: 60%;
}

header .header-container > div a h1 {
  width: 100%;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

header .header-container > div a h1 img {
  width: 100%;
}

header .header-container .search-bar-mobile {
  width: 100%;
}

header .header-container .search-bar-mobile input {
  width: 100%;
  height: 5vh;
  padding-left: 2%;
  margin-bottom: 10px;
  font-size: 3em;
  outline: none;
  border: 1px solid black;
}

header .header-container .search-bar-mobile input:focus {
  border: 1px solid #cc0d1f;
}

header .header-container .desktop-header-search-navbar {
  display: none;
}

header .navigation {
  width: 100%;
  background-color: #cc0d1f;
  margin-top: 30px;
}

header .navigation nav {
  width: 95%;
  padding: 30px 0;
  margin: 0 auto;
}

header .navigation nav ul li {
  margin-top: 15px;
}

header .navigation nav ul li a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 3.5em;
}

header .navigation nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
}

main .home-container {
  width: 100%;
  padding: 80px 0;
}

main .home-container aside {
  display: none;
}

main .home-container .home-first-content {
  width: 90%;
  max-width: 968px;
  margin: 0 auto;
}

main .home-container .home-first-content .home-banner {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-color: #acacac;
}

main .home-container .home-first-content .home-text {
  margin-top: 80px;
}

footer {
  width: 100%;
}

footer .footer-container {
  width: 100%;
  max-width: 968px;
  height: 500px;
  background-color: #cc0d1f;
}
/*# sourceMappingURL=style.css.map */